

main{
   display: flex;
     flex-direction: column;
    align-items: center; 
    
    
}

.container{
 width: 100%;
 max-width: 400px;
background-color: green;
  margin-top: 30px;
  
}


.pic{
	width: auto;
     display: flex;
     flex-direction: column;
    align-items: center;	 
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 30px;
    
}

.contact{
    width: auto;
	 display: flex;
     flex-direction: column;
     align-items: center;
     
}
 

@media (min-width: 500px) {
   
    .container{
       max-width: 500px;
       padding: 1rem;
    }
    .contact{  
	 display: flex;
     flex-direction: row;
     justify-content: space-around;
     
    }

    img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 40px;
    
}

}

@media (min-width: 768px) {

    .container{
        max-width: 780px;
        display: flex;
        justify-content: space-around;  
        padding: 1.5rem;
    }
    
    .contact{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

     img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 40px;
    
}

}